<!--Account Creation Page for Mise En Place Application-->
<!--Authors: Thomas Loudon, Adam Wise, Sukanvisa Pearyoo-->
<!--Last Updated: 2/10/2023-->
<include href="views/header.html"></include>
<body>
<div class="container-fluid banner">
    <div class="col-sm-12 align-self-center text-center">
        <div class="d-flex align-items-center justify-content-center">

            <a href="login" class="navbar-brand"><img src="images/mep_logov3.png" alt="mise en place logo"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-6 text-center">
            <label>Welcome! Please Create an Account</label>
            <p></p>
            <form action="#" method="POST">
                <label>Restaurant Name: <input class="form-control" type="text" name="restaurant"></label><br>
                <label>Username: <input class="form-control" type="text" name="username"></label><br>
                <label>Password: <input class="form-control" type="text" name="password"></label><br>
                <label>Email: <input class="form-control" type="text" name="email"></label><br>
                <label>Are You A Manager?:</label><br>
                <label><input type="radio" name="isManager" value="0">No</label><br>
                <label><input  type="radio" name="isManager" value="1">Yes</label><br>


                <br>
                <button class="btn btn-primary" id="myButton" type="submit">Create Account</button>
                <p></p>
            </form>
        </div>

        <div class="col-3">

        </div>

    </div>
</div>

<div class="col-sm-12 align-self-center text-center ">
    <div class="d-flex align-items-center justify-content-center ">

        <div class = "col-4">
            <p></p>
            <br>
            <img class="social" src="images/reddit.png" alt="reddit logo social"> <img class="social" src="images/facebook.png" alt="facebook logo social"> <img class="social" src="images/twitter.png" alt="twitter logo social"> <img class="social" src="images/instagram.png" alt="insta logo social">
        </div>
    </div>
</div>
</body>
</html>