<include href="views/header.html"></include>
<body>
<div class="container-fluid">
    <div class="col-sm-12 align-self-center text-center">
        <div class="d-flex align-items-center justify-content-center banner">

            <a href="login" class="navbar-brand"><img src="images/mep_logov3.png"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-6 text-center">
            <h3>Welcome! Please Create an Account</h3>
            <form action="#" method="POST">
                <label>Username: <input class="form-control" type="text" name="username"></label><br>
                <label>Password: <input class="form-control" type="text" name="password"></label><br>
                <label>Email: <input class="form-control" type="text" name="email"></label><br>
            </form>
        </div>

        <div class="col-3">

        </div>

    </div>
</div>
</body>
</html>