<include href="views/header.html"></include>
<body>
<div class="container-fluid">

    <div class="row h-100">
        <div class="col-sm-12 align-self-center text-center">
            <div class="d-flex align-items-center justify-content-center banner">

                <a href="login" class="navbar-brand"><img src="images/mep_logov3.png"></a>
            </div>
        </div>
        <div class="col-sm-12 align-self-center ">
            <div class="  align-items-center justify-content-center">
                <div class="col-4">
                    <p></p><br><p></p></div>

                <h3>About The Brand</h3>
                <p>Mise En Place is a revolutionary web application designed specifically for the restaurant industry.
                    It offers a comprehensive solution for managing and accessing recipes, both for preparation and
                    service, directly from a web browser on their mobile device. This innovative app streamlines the
                    recipe management process, providing restaurateurs with an effortless way to update, edit, and access
                    their entire recipe database with ease.</p>
                <p>In addition to its convenience, Mise En Place also offers a valuable training tool for new hires.
                    With access to all the recipes they'll need to know, they can practice and familiarize themselves with the
                    menu outside the kitchen, ensuring a smooth transition into their new role.</p>
                <p>With Mise En Place, restaurants can streamline their operations, improve efficiency, and provide a more
                    enjoyable and safer dining experience for their guests. Upgrade your kitchen operations today with the
                    power of Mise En Place.</p>
                <br>
                <br>
            </div>
        </div>
        <div class="col-sm-12 align-self-center text-center">
            <div class="d-flex align-items-center justify-content-center banner">
                <div col="3">


                </div>
                <div col="3">
                    <img src="images/pie_final.png">
                </div>
                <div col="3">

                </div>
            </div>
        </div>
    </div>


</div>
</body>


