<include href="views/header.html"></include>
<body>
<div class="container-fluid">
  <div class="row banner">
    <div class="col-3 banner">
      <a href="/328/mise_en_place" class="navbar-brand"><img class="p-2 img-fluid" src="images/mep_logo_for_nav.png"></a>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="text-center p-2">
          <label>Dashboard</label>
        </div>
      </div>

      <div class="row">
        <div class=" text-center p-4">
          <!--                    <form>-->
          <!--                        <input class="form-control" type="text"><button type="submit" class="btn btn-success btn-block" id="search">Search</button>-->
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search Recipe" aria-label="Search" />
          </div>
          <!--                    </form>-->
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="dropdown ms-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="insert">Create Recipe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/328/mise_en_place">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row recipe">
      <div class="row">
        <div class="text-center p-2">
          <label>Insert Recipe</label>
        </div>
      </div>

      <div class="col-3">

      </div>

    <form>
      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-6 mt-2">
          <label for="station">Choose a Station:</label><br>
          <select name="station" id="station">
            <option value="service">Service</option>
            <option value="prep">Prep</option>
          </select><br>
        </div>
      </div>


      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-6 mt-2">
          <label for="index">Choose an Index:</label><br>
          <select name="index" id="index">
            <option value="dessert">Dessert</option>
            <option value="entree">Entree</option>
            <option value="appetizer">Appetizer</option>
            <option value="pantry">Pantry</option>
            <option value="protein">Protein</option>
            <option value="sauce">Sauce</option>
            <option value="seasoning">Seasoning</option>
            <option value="soup">Soup</option>
          </select><br>
        </div>
      </div>



<!--      Dynamically create more rows as data is inputted-->
      <div class="row">
        <div class="col-2">

        </div>

        <div class="col-3 mt-2">
            <label for="ingredient">Ingredient: </label><br>
            <input type="text" id="ingredient" name="ingredient">
        </div>

        <div class="col-3 mt-2">
          <label for="amount">Amount: </label><br>
          <input type="text" id="amount" name="amount">
        </div>

        <div class="col-3 mt-2">
          <label for="unit">Unit: </label><br>
          <input type="text" id="unit" name="unit">
        </div>

      </div>

<!--      Dynamically create more as data is inputted-->
      <div class="row mt-2 pb-2">
        <div class="col-2">

        </div>
        <div class="col-8">
          <label for="instruction">Cooking Instruction:</label><br>
          <input class="w-100" type="text" id="instruction" name="instruction" oninput="addInput()">

        </div>

      </div>




    </form>
  </div>
  </div>
  <script src="javascript/createRecipeDynamic.js"></script>
  </body>

</html>