<!--create a recipe page for managers to use-->
<!--Authors: Thomas Loudon, Adam Wise, Sukanvisa Pearyoo-->
<!--Last Updated: 2/10/2023-->
<include href="views/header.html"></include>
<body>
<div class="container-fluid">
  <div class="row banner">
    <div class="col-3 banner">
      <a href="frontpage" class="navbar-brand"><img class="p-2 img-fluid" src="images/mep_logo_for_nav.png" alt="mise en place logo"></a>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="text-center p-2">
          <label>Create Recipe</label>
        </div>
      </div>

      <div class="row">
        <div class=" text-center p-4">
          <!--                    <form>-->
          <!--                        <input class="form-control" type="text"><button type="submit" class="btn btn-success btn-block" id="search">Search</button>-->
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search Recipe" aria-label="Search" />
          </div>
          <!--                    </form>-->
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="dropdown ms-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <check if="{{ @SESSION.userPrivilege }}">
            <a class="dropdown-item" href="insert">Create Recipe</a>

          </check>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/328/mise_en_place">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row recipe">
      <div class="row">
        <div class="text-center p-2">
          <label>Insert Recipe</label>
        </div>
      </div>

      <div class="col-3">

      </div>

    <form action= "#" method="post">
      <div class="row">
        <div class="col-2">

        </div>

        <div class="col-6 mt-2">
          <label for="station">Recipe Name:</label><br>
          <input type="text" id="recipeName" name="recipeName">

          <p></p>
          <check if="{{ isset(@errors['recipeName']) }}">
            <span class="err">{{ @errors['recipeName'] }}</span>
          </check>
        </div>
      </div>

      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-6 mt-2">
          <label for="station">Choose a Station:</label><br>
          <select class="p-1" name="station" id="station">
            <option value="">Select an Option...</option>
            <repeat group="{{ @station }}" value="{{ @stat }}">
              <option value="{{ @stat }}">{{ @stat }}</option>
            </repeat>
          </select><br>
          <p></p>
          <check if="{{ isset(@errors['station']) }}">
            <span class="err">{{ @errors['station'] }}</span>
          </check>
        </div>
      </div>


      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-6 mt-2">
          <label for="index">Choose an Index:</label><br>
          <select class="p-1" name="index" id="index">
            <option value="">Select an Option...</option>
            <repeat group="{{ @index }}" value="{{ @ind }}">
              <option value="{{ @ind }}">{{ @ind }}</option>
            </repeat>
          </select><br>
          <p></p>
          <check if="{{ isset(@errors['index']) }}">
            <span class="err">{{ @errors['index'] }}</span>
          </check>
        </div>
      </div>

<!--      Dynamically create more rows as data is inputted-->
      <div class="row" id="ingredientRow">
        <div class="col-2">

        </div>

        <div class="col-3 mt-2">
            <label for="ingredient">Ingredient: </label><br>
            <input type="text" id="ingredient" name="ingredient[]">
          <p></p>
          <check if="{{ isset(@errors['ingredient']) }}">
            <span class="err">{{ @errors['ingredient'] }}</span>
          </check>
        </div>

        <div class="col-3 mt-2">
          <label for="amount">Amount: </label><br>
          <input type="text" id="amount" name="amount[]">
          <p></p>
          <check if="{{ isset(@errors['amount']) }}">
            <span class="err">{{ @errors['amount'] }}</span>
          </check>
        </div>

        <div class="col-3 mt-2">
          <label for="unit">Unit: </label><br>
          <input type="text" id="unit" name="unit[]" oninput="addIngredientInput()">
          <p></p>
          <check if="{{ isset(@errors['unit']) }}">
            <span class="err">{{ @errors['unit'] }}</span>
          </check>
        </div>

      </div>
      <

<!--      Dynamically create more as data is inputted-->

      <div class="row mt-2 pb-2">
        <div class="col-2">

        </div>
        <div class="col-8">
          <label for="instruction">Cooking Instruction:</label><br>
          <span>1. </span>
          <input class="w-100" type="text" id="instruction" name="instruction[]" oninput="addInput()">
          <p></p>
          <check if="{{ isset(@errors['instruction']) }}">
            <span class="err">{{ @errors['instruction'] }}</span>
          </check>
        </div>

      </div>
<!--    </form> LEAVING THIS UNCLOSED FIXED SUBMIT BUTTON ISSUE DONT KNOW WHY-->
  </div>
      <div class="row">
        <div class="col-3">

        </div>

        <div class="col-6 text-center">
          <p></p>
          <button class="btn btn-primary" id="myButton" type="submit">Submit</button>
        </div>

        <div class="col-3">

        </div>

      </div>




  </div>
  </div>
  <script src="javascript/createRecipeDynamic.js"></script>
  </body>

</html>