<include href="views/header.html"></include>
<body>
<div class="container-fluid">
    <div class="row h-100 ">
        <div class="col-sm-12 align-self-center text-center">
            <div class="card-block w-0 mx-auto align-self-center">
            <img src="images/mep_logov2.jpg">
            <form action="#" method="post">
                <p></p>
                <label for="username">Username: </label>
                <input type="text" class="form-group" id="username" name="username">
                <p></p>
                <label for="password">Password: </label>
                <input type="password" class="form-group" id="password" name="password">
                    <p></p>
                <button class="btn btn-primary" id="myButton" type="submit">Login</button>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
