<!--Login Page for Mise En Place Application-->
<!--Authors: Thomas Loudon, Adam Wise, Sukanvisa Pearyoo-->
<!--Last Updated: 2/10/2023-->
<include href="views/header.html"></include>
<body>
<div class="container-fluid banner">
    <div class="row h-100 ">
        <div class="col-sm-12 align-self-center text-center">
            <div class="col-sm-12 align-self-center text-center">
                <div class="d-flex align-items-center justify-content-center ">

                    <a href="/328/mise_en_place" class="navbar-brand"><img src="images/mep_logov3.png"></a>
                </div>
            </div>
            <form action="#" method="POST">
                <br>
                <br>
                <label
                        for="username">Username: </label>
                <input type="text" class="form-group" id="username" name="username">
                <p></p>
                <label for="password">Password: </label>
                <input type="password" class="form-group" id="password" name="password">
                <br>
                <br>
                <button class="btn btn-primary" id="myButton" type="submit">Login</button>
                <br>
                <br>
            </form>
            <a  href="newaccount" role="button">Need an account? Sign up now!</a>
            <p></p>
            </div>
        </div>
        <div class="col-sm-12 align-self-center text-center">
            <div class="d-flex align-items-center justify-content-center banner">
                <div col="3">
                </div>
                <div col="3">

                </div>
                <div col="3">
                </div>
            </div>
        </div>
</div>
<div class="col-sm-12 align-self-center text-center ">
    <div class="d-flex align-items-center justify-content-center ">

        <div class = "col-4">
            <p></p>
            <br>
            <img class="social" src="images/reddit.png" alt="reddit logo social"> <img class="social" src="images/facebook.png" alt="facebook logo social"> <img class="social" src="images/twitter.png" alt="twitter logo social"> <img class="social" src="images/instagram.png" alt="insta logo social">
        </div>
    </div>
</div>
    </div>
</div>
</body>
