<!--Service page for selecting recipe category for service-->
<!--Authors: Thomas Loudon, Adam Wise, Sukanvisa Pearyoo-->
<!--Last Updated: 2/10/2023-->
<include href="views/header.html"></include>
<body>
<div class="row banner">
  <div class="col-3 banner">
    <a href="frontpage" class="navbar-brand"><img class="p-2 img-fluid" src="images/mep_logo_for_nav.png" alt="mise en place logo"></a>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="text-center p-2">
        <label>Service</label>
      </div>
    </div>

    <div class="row">
      <div class=" text-center p-4">
        <form action ="/328/mise_en_place/display_list" method="POST">
          <!--                        <input class="form-control" type="text"><button type="submit" class="btn btn-success btn-block" id="search">Search</button>-->
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="search" placeholder="Search Recipe" aria-label="Search" />
          </div>
          <button type="submit" class="btn btn-success btn-block" name="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="dropdown ms-auto">
      <button class="btn btn-secondary dropdown-toggle" type="button"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Account
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <check if="{{ @SESSION.userPrivilege }}">
          <a class="dropdown-item" href="insert">Create Recipe</a>

        </check>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/328/mise_en_place">Logout</a>
      </div>
    </div>
  </div>

</div>

<div class="row mt-4">
  <div class="col-2"></div>

  <div class="col-sm-12 col-lg-4 text-center shadow p-3 mb-5 bg-white rounded" id="prep-spacing1">
    <a href="{{ @BASE }}/display_list?station=Appetizer" ><img class="p-2 img-fluid w-auto h-auto" src="images/app.png" alt="mise en place appetizer icon"></a>
  </div>

  <div class="col-sm-12 col-lg-4 text-center shadow p-3 mb-5 bg-white rounded">
    <a href="{{ @BASE }}/display_list?station=Dessert" ><img class="p-2 img-fluid w-auto h-auto" src="images/dessert.png" alt="mise en place dessert icon"></a>
  </div>

</div>

<div class="row mt-4">
  <div class="col-2"></div>

  <div class="col-sm-12 col-lg-4 text-center shadow p-3 mb-5 bg-white rounded" id="prep-spacing2">
    <a href="{{ @BASE }}/display_list?station=Entree" ><img class="p-2 img-fluid w-auto h-auto" src="images/entree.png" alt="mise en place entree icon"></a>
  </div>

  <div class="col-sm-12 col-lg-4 text-center shadow p-3 mb-5 bg-white rounded">
    <a href="{{ @BASE }}/display_list?station=Pantry" ><img class="p-2 img-fluid w-auto h-auto" src="images/pantry.png" alt="mise en place pantry icon"></a>
  </div>

</div>
</body>

</html>