body{
    font-family: 'Lora';font-size: 22px;
}
.banner{
    position: relative;

    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ) round,url(knifeknife.jpg);
}
#myButton{
    background-color: #7a4e40;
}

/*----------Home Tab Style---------------*/




a:link,a:visited,a:active{
    color:white;
}
.banner:not(.exclude) {
    /* styles for .selected class, excluding div with .exclude class */
}

.dropdown-menu a {
    color:black;
}

.err{
    color:darkred;
}
.err2{
    color:navajowhite;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lora';font-size: 22px;
    color: black;
    text-shadow: 0 0 5px white;
}

label{
    font-family: 'Lora';font-size: 22px;
    color:white;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 15px;
    background: #e2e2e2;
}

.mytabs .tab {
    width: 100%;
    padding: 5px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: navajowhite;
    opacity: 60%;/328
}



#password2{
    color:white;
}


.recipe label{
    color:black;
}

.social{
    width:50px;
    height:50px;
}
td a {
    color:black;
}
#username2{
    color:white;
}

