#myButton{
    background-color: #7a4e40;
}


.banner{
    position: relative;

    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ) round,url(knifeknife.jpg);
}

/*----------Home Tab Style---------------*/
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 15px;
    background: #e2e2e2;
}

.mytabs .tab {
    width: 100%;
    padding: 5px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: navajowhite;
    opacity: 60%;/328
}

.social{
    width:50px;
    height:50px;
}

.banner:not(.exclude) {
    /* styles for .selected class, excluding div with .exclude class */
}

h2,h3{
    color: black;
    text-shadow: 0 0 5px white;
}

a:link,a:visited,a:active{
    color:white;
}